

#container-tabs
{
	width:350px
}

#tabbox
{
	height:40px
}

#form-panel
{
	background-color:#FFF;
	height:300px;
}

.tab
{
	background: #dedede;
	display: block;
	height: 40px;
	line-height: 40px;
	text-align: center;
	width: 80px;
	float: left;
	font-weight: bold;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius: 4px 4px 0px 0px;
}

a
{
	color: #000;
	margin: 0;
	padding: 0;
	text-decoration: none;
}

.student-class
{
	margin-left:8px;
}

.select
{
	background-color:#FFF;
}

#studentBox
{
	min-height:200px;
	padding:10px;
}

#mentorBox
{
	min-height:200px;
	padding:10px;
	display:none;
}