{% load staticfiles %}


<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top headroom" >
	<div class="container">
		<div class="navbar-header">
			<!-- Button for smallest screens -->
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
			</button>
			<a class="navbar-brand" href="index.html">
				<img src="{% static 'projects_app/img/3.png' %}" style="margin:-20px; padding:0px 0px 40px 0px;" alt="Progressus HTML5 template">
			</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav pull-right">
				<li class="active"><a href="{% url 'projects_app:index' %}">Home</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="contact.html">Contact</a></li>
				
				{% if student or mentor %}
				<li><a href="{% url 'projects_app:logout' %}">Logout</a></li>
				{% else %}
				<li><a href="{% url 'projects_app:login' %}">Sign In</a></li>
				{% endif %}
				
				<li><a href="faq.html">FAQ</a></li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</div> 
<!-- /.navbar -->