<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>

	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
	
	<title>Sign up - Progressus Bootstrap template</title>

	<link rel="shortcut icon" href="{% static 'projects_app/img/gt_favicon.png' %}">
	
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="{% static 'projects_app/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'projects_app/css/font-awesome.min.css' %}">

	<!-- Custom styles for register form in tabs -->
	<link rel="stylesheet" href="{% static 'projects_app/css/form-tab.css' %}">

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="{% static 'projects_app/css/bootstrap-theme.css' %}" media="screen" >
	<link rel="stylesheet" href="{% static 'projects_app/css/main.css' %}">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->

</head>

<body>

	<!-- custom template to include navbar -->	
	{% include 'projects_app/header.html' %}

	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="new index.html">Home</a></li>
			<li class="active">Register</li>
		</ol>

		<!-- row -->
		<div class="row">
			<!-- Article main content -->
			<article class="col-xs-12 maincontent">
				<header class="page-header">
					<h1 class="page-title">Register Now</h1>
				</header>
				
				<div>
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active">
							<a href="#student" aria-controls="student" role="tab" 
							data-toggle="tab">Student</a>
						</li>
						<li role="presentation">
							<a href="#mentor" aria-controls="mentor" role="tab" 
							data-toggle="tab">Mentor</a>
						</li>
					</ul>

					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="student">
							
							<!-- form for student registration goes here-->
							<form action="{% url 'projects_app:registration' %}" method="POST" role="form" class="form-horizontal">		
								{% csrf_token %}
								
								<div class="top-margin form-group">
									<label for="{{ student_form.student_name.id_for_label }}" class="col-sm-2 control-label">	Full Name 
									</label>
									<div class="col-sm-10">
										{{ student_form.student_name }}
									</div>
								</div>

								<div class="top-margin form-group">
									<label for="{{ student_form.roll_no.id_for_label }}" class="col-sm-2 control-label">
										Roll No <span class="text-danger">*</span>
									</label>
									<div class="col-sm-10">
										{{ student_form.roll_no }}
									</div>
								</div>

								<div class="top-margin form-group">
									<label for="{{ student_form.course.id_for_label }}" class="col-sm-2 control-label">
										Course <span class="text-danger">*</span>
									</label>
									<div class="col-sm-10">
										{{ student_form.course }}
									</div>
								</div>

								<div class="top-margin form-group">
									<label for="form.student_form.id_for_label" class="col-sm-2 control-label">
										Current Semester <span class="text-danger">*</span>
									</label>
									<div class="col-sm-10">
										{{ student_form.sem }}
									</div>	
								</div>
								
								<div class="top-margin form-group">
									<label for="{{ student_form.batch.id_for_label }}" class="col-sm-2 control-label">
										Batch <span class="text-danger">*</span>
									</label>
									<div class="col-sm-10">
										{{ student_form.batch }}
									</div>
								</div>

								<div class="top-margin form-group">
									<label for="{{ student_form.email.id_for_label }}" class="col-sm-2 control-label">
										Email Address <span class="text-danger">*</span>
									</label>
									<div class="col-sm-10">
										{{ student_form.email }}
									</div>
								</div>

								<div class="top-margin form-group">
									<label for="{{ student_form.password1.id_for_label }}" class="col-sm-2 control-label">		Password <span class="text-danger">*</span>
									</label>
									<div class="col-sm-10">
										{{ student_form.password1 }}
									</div>
								</div>

								<div class="top-margin form-group">
									<label for="{{ student_form.password2.id_for_label }}" class="col-sm-2 control-label">		Confirm Password <span class="text-danger">*</span>
									</label>
									<div class="col-sm-10">
										{{ student_form.password2 }}
									</div>
								</div>

								<div class="form-group">
									<div class="col-sm-offset-2 col-sm-10">
										<label class="checkbox">
											<input type="checkbox" name="terms"> 
											I've read the <a href="page_terms.html">Terms and Conditions</a>
										</label>                        
									</div>
								</div>

								<div class="form-group">
									<div class="col-sm-offset-2 col-sm-10">
										<input class="btn btn-action" type="submit" name="studentRegistration" value="Register">
									</div>
								</div>
							</form>
						</div>

						<div role="tabpanel" class="tab-pane" id="mentor">
							<!-- form for mentor registration goes here-->
							<form action="{% url 'projects_app:registration' %}" method="POST" role="form" class="form-horizontal">
								{% csrf_token %}
								
								<div class="top-margin form-group">
									<label for="{{ mentor_form.mentor_name.id_for_label }}" class="col-sm-2 control-label">		Full Name <span class="text-danger">*</span>
									</label>
									<div class="col-sm-10">
										{{ mentor_form.mentor_name }}
									</div>
								</div>

								<div class="top-margin form-group">
									<label for="{{ mentor_form.email.id_for_label }}" class="col-sm-2 control-label">
										Email Address <span class="text-danger">*</span>
									</label>
									<div class="col-sm-10">
										{{ mentor_form.email }}
									</div>
								</div>

								<div class="top-margin form-group">
									<label for="{{ mentor_form.password1.id_for_label }}" class="col-sm-2 control-label">
										Password <span class="text-danger">*</span>
									</label>
									<div class="col-sm-10">
										{{ mentor_form.password1 }}
									</div>
								</div>

								<div class="top-margin form-group">					
									<label for="{{ mentor_form.password2.id_for_label }}" class="col-sm-2 control-label">
										Confirm Password <span class="text-danger">*</span>
									</label>
									<div class="col-sm-10">
										{{ mentor_form.password2 }}
									</div>
								</div>

								<hr>
								<div class="form-group">
									<div class="col-sm-offset-2 col-sm-10">
										<label class="checkbox">
											<input type="checkbox" name="terms"> 
											I've read the <a href="page_terms.html">Terms and Conditions</a>
										</label>                        
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-offset-2 col-sm-10">
										<input class="btn btn-action" type="submit" name="mentorRegistration" value="Register">
									</div>
								</div>							
							</form>
						</div>
					</div>

				</div>

			</article>
			<!-- /Article -->
		</div>	<!-- /.row -->
	</div>	<!-- /.container -->
	

	<!-- custom template to include footer -->
	{% include 'projects_app/footer.html' %}	
		

	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="{% static 'projects_app/js/headroom.min.js' %}"></script>
	<script src="{% static 'projects_app/js/jQuery.headroom.min.js' %}"></script>
	<script src="{% static 'projects_app/js/template.js' %}"></script>

</body>
</html>