<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
	
	<title>ProjectHandler - Free Project Management Website</title>

	<link rel="shortcut icon" href="{% static 'projects_app/img/gt_favicon.png' %}">
	
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="{% static 'projects_app/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'projects_app/css/font-awesome.min.css' %}">

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="{% static 'projects_app/css/bootstrap-theme.css' %}" media="screen" >
	<link rel="stylesheet" href="{% static 'projects_app/css/main.css' %}">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.js"></script>
	<script src="assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<!-- custom template to include navbar -->	
	{% include 'projects_app/header.html' %}

	<header id="head" class="secondary"></header>

	<section>
		<!-- .container -->
		<div class="container">
			<div class="row">
				{% if student %}
					<h2>{{ student.student_name }}</h2>
					<h4>{{ student.roll_no }}</h4>
					<h4>{{ student.semester }}</h4>
				{% endif %}
			</div>
		</div>
	</section>	

	<div class="container">
		<ul>
			<li>
				<a type="button" href="{% url 'projects_app:index' %}">Projects</a>
			</li>
		</ul>
	</div>

	<!-- custom template to footer -->	
	{% include 'projects_app/footer.html' %}	
		

	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="{% static 'projects_app/js/headroom.min.js' %}"></script>
	<script src="{% static 'projects_app/js/jQuery.headroom.min.js' %}"></script>
	<script src="{% static 'projects_app/js/template.js' %}"></script>

	<script src="{% static 'projects_app/js/angular/angular.min.js' %}"></script>
	<script src="{% static 'projects_app/js/angular/angular-ui-router.min.js' %}"></script>

	<script src="{% static 'projects_app/js/app.js' %}"></script>
</body>
</html>